<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Team</h1>
  <br />
  <div class="col-xs-12 col-sm-2">
    <%= image_tag 'jonathan.jpg', :class => 'img-responsive img-circle avatar' %>
  </div>
  <div class="col-xs-12 col-sm-10 team-title">
   <h2>Jonathan Pike &mdash; <span class="ital">Chief Cook and Bottle Washer</span></h2>
  </div>
  <br class="clr" />
  <br />
  <div class="col-xs-12">
    <p>Jonathan is a web developer at heart and is working to be employed as one, as well. He believes we can build a better world through code. Today was another day in paradise.</p>
  </div>
  <br class="clr" />
  <br />
  <div class="col-xs-12">
    <h3 class="ital text-center">And that's all, folks!</h3>
  </div>
  <br />
</div>