$footer-height: 100px;
$footer-height-mobile: 300px;

/* Sticky footer styles
-------------------------------------------------- */
html, 
body {
  height: 100%;
}

.footer {
  height: $footer-height;
  background-color: rgba(112,112,112,0.9);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
  color: white;
  font-weight:100;
  a {
    color: white;
    font-weight:100;
  }
}

.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  /*padding: 0 0 $footer-height;*/
}

.social-button {
  width: 32px;
  margin: 4px;
}

.social a:hover {
  text-decoration:none;
}

@media (max-width: 750px) {
  .footer {
    height:$footer-height-mobile;
  }

  .wrap {
    margin: 0 auto -$footer-height-mobile;
    /* Pad bottom by footer height */
    padding: 0 0 $footer-height-mobile;
  }

  .footer .social {
    margin-top:10px;
  }
}
