.navbar {
	box-shadow: 0px 2px 5px #888888;
	margin: 0;

	.navbar-brand {
	font-family: 'Fugaz One', cursive;
	color: #B9090B;
	font-size: 25px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

.frosty {
	background:rgba(0,0,0,0.5);
	color: white;
	h1 {
		font-family: "Helvetica Neue", Helvetica;
  		font-weight: 100;
  		text-shadow: rgba(0,0,0,0.95) 1px 1px;
	}

	h2 {
		font-family: "Helvetica Neue", Helvetica;
  		font-weight: 200;
  		text-shadow: rgba(0,0,0,0.95) 1px 1px;
	}
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.btn {
	border-radius:0;
}

body {
	background-color:#f4f4f4;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
  h1, h2 {
  	margin-top:10px;
  	margin-bottom:10px;
  }
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding:8px;
}

.clr {
  clear:both;
}

.flash {
	padding-bottom: 0px;
}